*{
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    line-height: 1.6;
    background-color: rgb(17, 78, 201);
}
header{
    background: #222;
    color: white;
    padding: 15px 5%;
    z-index:0;
    position:fixed;
    top:0;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
}
#menu-btn{
    display: none;
    background: none;
    border: none;
    color: aliceblue;
    font-size: 24px;
    cursor: pointer;
}
.hero{
    height: 90vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(1, 7, 12);
}
.hero-content{
    background: rgba(0,0,0,0,6);
    padding: 30px;
    border-radius: 10px;;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    background: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
/* Services */
.services,
.projects,
.contact{
    padding:60px 5%;
    text-align: center;
}
.cards,
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top: 30px;
}
.card,
.project{
    background: #f4f4f4;
    padding:25px;
    border-radius: 10px;
}
.whatsapp{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    font-size: 10px;
    color: #25D366;
    background-color: rgb(225, 16, 173);
}